body{
    margin:0;
}

.header{
    display:flex;
    height:300px;
    flex-direction: column;
    background-color: #1f2937;
}
.container{
    display:flex;
    justify-content: space-between;
    height:40px;
    flex:1 2 1;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 6px;
    background-color: #1f2937;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    display:flex;
}
ul{
    display: flex;
    align-items: center;
    gap:16px;
    list-style-type: none;
    padding-bottom: 6px;
}
.top-mid{
    display: flex;
    flex-direction: row;
}
.header-middle{
    display:flex;
    flex-direction: column;
    max-width: 500px;
    margin-left:64px;
    padding-top: 64px;
}
.header-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
}
.header-subtext{
    font-size: 18px;
    color:#e5e7eb;
    display:flex;
}
.sign-up{
    max-width: 60px;
    background-color: #3882f6;
    border-radius: 6px;
    color: white;
    flex-shrink: 0;
    border-style: none;
}
.header-image{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    width:400px;
}
.middle{
    display:flex;
    flex-direction: column;
    height:265px;
    flex:1;
    padding-left: 128px;
    padding-right: 128px;
}
.middle-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 28px;
    padding-top: 28px;
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
}
.mid-container{
    display: flex;
    justify-content: center;
    gap:32px;
    padding-bottom: 32px;
}
.middle-info{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex:1;
}
.middle-quote{
    display: flex;
    flex:1;
    height:80px;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 28px;
    font-style:italic;
    padding: 64px;
}
.modal{
    display: flex;
    flex:1;
    justify-content:center;
    padding:12px;
}
.modal-container{
    display: flex;
    background-color: #3882f6;
    padding:24px;
    border-radius: 6px;
    padding-left: 128px;
    padding-right: 128px;
}
.mode{
    color: #e5e7eb;
}
.modal-text{
    font-size: 18px;
    font-weight: bold;
}
.modal-button{
    display: flex;
    flex:1;
}
.sign-up2{
    margin-left: 32px;
    border-radius: 6px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-color: #e5e7eb;
}
.footer{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    height:24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color:#1f2937;
    color:#e5e7eb;
}

img{
    width:200px;
}
